{% extends '::base.html.twig' %}

{% block body %}

<div class="container">
        <div class="row">
           
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <div class="row">
                    <img class="img-responsive" style="min-width:555px;" src="{{ asset('bundles/auth/images/texyon_ban.png') }}" alt="Texyon Games"/>
                </div>
                <div style="min-width:555px;">
                    <h2 class="page-header text-center">Texyon Games - OAuth2</h2>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8">

                        <ul>
                            <li> 
                                <a href="http://www.texyon.com/">Go to Texyon Games </a>
                            </li>
                        </ul>
                       

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}