{% extends '::base.html.twig' %}

{% block body %}

<div class="container">
        <div class="row">
           
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <div class="row">
                    <img class="img-responsive" style="min-width:555px;" src="{{ asset('bundles/auth/images/texyon_ban.png') }}" alt="Texyon Games"/>
                </div>
                <div style="min-width:555px;">
                    <h2 class="page-header text-center">Sign in - Texyon Games</h2>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8">
                        <form action="{{ path('auth_login_check') }}" method="post" role="form">
                            {% if error is not empty %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                                    {{ error }}
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label>Username</label>
                                <input class="form-control" type="text" name="_username" value="{{ last_username }}" />
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input class="form-control" type="password" name="_password" value="" />
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="_remember_me" /> Remember me
                                </label>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success" type="submit" name="submit">Login</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}