{% extends '::base.html.twig' %}

{% block body %}

        {% set head_title = 'Authorization Endpoint | AuthBucket\\Bundle\\OAuth2Bundle' %}


            <div class="container">
                <div class="row">

                    <div class="col-md-3"></div>
                    <div class="col-md-6">

                        <div class="row">
                            <img class="img-responsive" style="min-width:555px;" src="{{ asset('bundles/auth/images/texyon_ban.png') }}" alt="Texyon Games"/>
                        </div>

                        <div style="min-width:555px;">
                                <h2 class="page-header text-center">Authorize Application</h2>
                                <div class="col-xs-2"></div>
                                <div class="col-xs-8">
                                    <p>{{ client.name }}, would like permission to access your account:</p>
                                    <ul>
                                        {% set scopes = form.vars.value.scope | split(' ') %}

                                        {% for scope in scopes %}
                                        {# if scope == "" %} {% set scope = 'All' %} {% endif #}
                                            <li>{{ scope }}</li>
                                        {% endfor %}

                                    </ul>


                                    {{ form_start(form, {'method': 'POST', 'action': path('fos_oauth_server_authorize'), 'label_attr': {'class': 'fos_oauth_server_authorize'} }) }}

                                        {{ form_row(form.client_id) }}
                                        {{ form_row(form.response_type) }}
                                        {{ form_row(form.redirect_uri) }}
                                        {{ form_row(form.state) }}
                                        {{ form_row(form.scope) }}
                                        {{ form_rest(form) }}
                                        <div class="form-group">
                                            <input type="submit" name="accepted" class="btn btn-success" role="button" value="Accept" /> {# 'authorize.accept'|trans({}, 'FOSOAuthServerBundle') #}
                                            <input type="submit" name="rejected" class="btn btn-primary" role="button" value="Reject" /> {# 'authorize.reject'|trans({}, 'FOSOAuthServerBundle') #}
                                        </div>
                                    </form>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
     

{% endblock %}